.b-brand {
    display: block;
    text-align: left; /* لضمان توجيه العنصر إلى يسار الصفحة */
  
}

#main-logo {
    width: 160px; /* تغيير الحجم وفقًا لما تراه مناسبًا */
    height: auto; /* للحفاظ على النسبة بين العرض والارتفاع */
    max-width:160%; /* لضمان عدم تجاوز حجم الصورة لحجم الحاوية */
}