<div id="root">
    <div class="auth-wrapper">
        <div class="auth-content text-center">
            <div class="borderless card">
                <div class="align-items-center text-center row">
                    <div class="col">
                        <div class="card-body card-body">

                            <img src="assets/images/professionalworkerlogotransparent.png" alt=""
                                class="img-fluid mb-4">
                            <div class="input-group mb-4">
                                <input type="email" class="form-control" placeholder="Email address"
                                    fdprocessedid="1ax1fu" [(ngModel)]="input.UserName" name="UserName">
                            </div>
                            <div class="input-group mb-4">
                                <input type="password" class="form-control" placeholder="New Password"
                                    fdprocessedid="1ax1fu" [(ngModel)]="input.newPassword" name="newPassword">
                            </div>
                            <button class="btn btn-block btn-primary mb-4" (click)="EiditePassword()"
                                fdprocessedid="p06ubu">Reset password</button>

                            <p class="mb-2 text-muted" style="text-align: right;">
                                <a (click)="NaivageteToLogin()" class="f-w-400">back</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>