.user-card {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.user-card img {
    width: 80%;
    border-radius: 8px 8px 0 0;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}

.user-description {
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
}

.user-details {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
    text-align: left;
}

.user-price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin-top: 8px;
    text-align: left;
}

.user-status {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
    text-align: left;
    color: green;
}

.active-yes {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
    text-align: left;
    color: green;
}

.active-no {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
    text-align: left;
    color: red;
}

.active-yes {
    color: green;
}

.active-no {
    color: red;
}

.yes-discount {
    color: green;
}

.no-discount {
    color: red;
}