<div class="container">


  <p>New Category now !!</p>



  <button mat-raised-button color="primary" matTooltip="Create new Category" (click)="onCreateCategory()">Create
    Category</button>




  <br>
  <br>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label class="example-tab-label">
        <mat-icon class="example-tab-icon" style=" margin-right: 10px;">perm_media</mat-icon>
        Category
      </ng-template>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="categoryId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> categoryId </th>
            <td mat-cell *matCellDef="let row"> {{row.categoryId}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
            <td mat-cell *matCellDef="let row"> {{row.title}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> description </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="titleArabic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> titleArabic </th>
            <td mat-cell *matCellDef="let row"> {{row.titleArabic}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="descriptionArabic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> descriptionArabic </th>
            <td mat-cell *matCellDef="let row"> {{row.descriptionArabic}} </td>
          </ng-container>




          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> isActive </th>
            <td mat-cell *matCellDef="let row"> {{row.isActive}} </td>
          </ng-container>


          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <div class="example-button-row">
                <div class="example-flex-container">
                  <button (click)="OnEditeCategory(row)" matTooltip="Update Category" mat-icon-button color="primary"
                    aria-label="Example icon button with a home icon">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <br>
                  <button (click)="OnviewCategory(row.categoryId)" matTooltip="View Category" mat-icon-button
                    style="color: aqua;" aria-label="Example icon button with a heart icon">
                    <mat-icon>visibility</mat-icon>
                  </button>


                  <br>
                  <button (click)="OnDeleteCategory(row.categoryId)" matTooltip="delete Category" mat-icon-button
                    color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>





          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>



    </mat-tab>
  </mat-tab-group>